.groups{
    height: auto;
    width: 100%;
    margin: 0%;
    text-align: center;
}

.groups-title{
    width: 100%;
    height: auto;
    padding: 10px 0%;
    margin: 0%;
    font-size: 40px;
    line-height: 1.1;
    font-weight: 600;
    background-color: rgba(254, 144, 23);
    color: #FFFFFF;
}

.groups-title p{
    margin: 0%;
}

.groups-content{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    color: #000000;
    background-color: #ffffff;
}

.groups-item{
    margin: 30px 15%;
    width: 15%;
    text-align: center;
}

.groups-item p {
    font-size: 18px;
}

.groups-item img{
    width: 100%;
}

@media screen and (max-width: 450px){ 
    .groups-item{
        width: 60%;
    }

    .groups-title{
        width: 100%;
        height: auto;
        padding: 10px 0%;
        margin: 0%;
        font-size: 20px;
        line-height: 1.1;
        font-weight: 600;
        background-color: rgba(254, 144, 23);
        color: #FFFFFF;
    }
}
