body {
    margin: 0%;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.nav-bar {
    position: absolute;
    top: 0%;
    margin: 0% auto 0% auto;
    width: 100%;
    height: auto;
    background-color:  rgba(0, 0, 0, 0.3);
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    z-index: 999;
}

.nav-bar button {
    text-decoration: none;
    margin: 0%;
    width: 15%;
    height: 45px;
    border: none;
    background-color: transparent;
    color: #de8100;
    position: float;
    font-size: 120%;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    outline: none;
}

.nav-bar a {
    text-decoration: none;
    margin: 0% 5%;
}

.selected {
    color: #ffffff !important;
    border-bottom: 4px solid #de8100 !important;
}

.img-home {
    vertical-align: -webkit-baseline-middle;
    width: 45px;
    height: 45px;
}

.content {
    position: absolute;
    top: 0%;
    left: 0%;
    margin: 0%;
    width: 100%;
    height: 100%;
}

.hidden{
    display: none;
}

.show {
    display: block;
}

#content-1 {
    position: absolute;
    top: 0%;
    left: 0%;
    margin: 0%;
    width: 100%;
    height: 100%; 
    background-image: url(../images/Sky.jpeg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.layer-1 {
    position: absolute;
    top: 0%;
    left: 0%;
    margin: 0%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.title-left {
    position: relative;
    width: auto;
    height: auto;
    left: 5%;
    top: 0%;
    margin: 45px 0% 0% 0%;
}

.img-QK {
    width: 432px;
    height: 300px;
}

.title-right {
    position: relative;
    width:auto;
    height: auto;
    left: 53%;
    top: -15%;
    margin: 0%;
}

.img-TEAM {
    width: 600px;
    height: 250px;
}

.logo {
    position: relative;
    top: -13%;
    left: 0%;
    width: auto;
    height: auto;
    text-align: center;
    margin: 0%;
}

.img-logo {
    width: 300px;
    height: 300px;
    cursor: pointer;
}

#content-2 {
    position: absolute;
    top: 0%;
    left: 0%;
    margin: 0%;
    width: 100%;
    height: 100%;
    background-image: url(../images/bk-4.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: #ff9500;
}

.product-1 {
    position: relative;
    width: 100%;
    height: auto;
    top: 0%;
    left: 0%;
    margin: 10% 0% 0% 0%;
    display: -webkit-inline-flex;
    text-align: center;
}

.img-cdoj {
    height: 188px;
    border-radius: 30px;
    box-shadow:5px 2px 6px #000000;
}

.cdoj {
    margin: 0% 10% 0% auto;
    text-align: center;
}

.cdoj p {
    background-color: rgba(0, 0, 0, 0.6);
}

.wdm {
    margin: 0% 5% 0% 5%;
    text-align: center;
}
.wdm p {
    background-color: rgba(0, 0, 0, 0.6);
}

.img-wdm {
    height: 188px;
    border-radius: 22px;
    box-shadow:5px 2px 6px #000000;
}

.z {
    margin: 0% auto 0% 10%;
    text-align: center;
}

.z p {
    background-color: rgba(0, 0, 0, 0.6);
}

.img-z {
    height: 188px;
    border-radius: 22px;
    box-shadow:5px 2px 6px #000000;

}

.product-2 {
    position: relative;
    width: 100%;
    height: auto;
    top: 0%;
    left: 0%;
    margin: 5% 0% 0% 0%;
    display: -webkit-inline-flex;
    text-align: center;
}

.ce {
    margin: 0% 10% 0% auto;
    text-align: center;
}

.ce p {
    background-color: rgba(0, 0, 0, 0.6);
}

.img-ce {
    height: 188px;
    border-radius: 30px;
    box-shadow:5px 2px 6px #000000;
}

.mk {
    margin: 0% auto 0% 10%;
    text-align: center;
}

.mk p {
    background-color: rgba(0, 0, 0, 0.6);
}

.img-mk {
    height: 188px;
    border-radius: 22px;
    box-shadow:5px 2px 6px #000000;
}

#content-3 {
    position: absolute;
    top: 0%;
    left: 0%;
    margin: 0%;
    width: 100%;
    height: 100%;
    background-image: url(../images/bk-2.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#content-4 {
    position: absolute;
    top: 0%;
    left: 0%;
    margin: 0%;
    width: 100%;
    height: 100%;
    background-image: url(../images/bk-1.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: #effcf2;
    text-shadow:2px 2px 3px #83d3bc;
}

.layer-2 {
    position: absolute;
    top: 0%;
    left: 0%;
    margin: 0%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
}

.line-1 {
    position: relative;
    width: 100%;
    height: auto;
    top: 0%;
    left: 0%;
    margin: 5% 0% 0% 0%;
    display: -webkit-inline-flex;
    text-align: center;
}

.photo-1 {
    margin: 0% 3% 0% auto;
    text-align: center;
}

.img-photo1 {
    height: 188px;
}

.photo-2 {
    margin: 0% 3% 0% 3%;
    text-align: center;
}

.img-photo2 {
    height: 188px;
}

.photo-3 {
    margin: 0% auto 0% 3%;
    text-align: center;
}

.img-photo3 {
    height: 188px;
}

.line-2 {
    position: relative;
    width: 100%;
    height: auto;
    top: 0%;
    left: 0%;
    margin: 3% 0% 0% 0%;
    display: -webkit-inline-flex;
    text-align: center;
}

.photo-4 {
    margin: 0% 3% 0% auto;
    text-align: center;
}

.img-photo4 {
    height: 188px;
}

.photo-5 {
    margin: 0% 3% 0% 3%;
    text-align: center;
}

.img-photo5 {
    height: 188px;
}

.photo-6 {
    margin: 0% auto 0% 3%;
    text-align: center;
}

.img-photo6 {
    height: 188px;
}

.line-3 {
    position: relative;
    width: 100%;
    height: auto;
    top: 0%;
    left: 0%;
    margin: 1% 0% 0% 0%;
    display: -webkit-inline-flex;
    text-align: center;
}

.more {
    font-size: 30px;
    margin: 0% auto;
    text-align: center;
}

#content-5 {
    position: absolute;
    top: 0%;
    left: 0%;
    margin: 0%;
    width: 100%;
    height: 100%;
    background-image: url(../images/bk-7.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#content-6 {
    position: absolute;
    top: 0%;
    left: 0%;
    margin: 0%;
    width: 100%;
    height: 100%;
    background-image: url(../images/bk-9.jpeg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.layer-3 {
    position: absolute;
    top: 0%;
    left: 0%;
    margin: 0%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.question {
    position: relative;
    width: auto;
    height: auto;
    top: 0%;
    left: 0%;
    margin: 10% 0% 0% 0%;
    text-align: center;
}

.question p {
    margin: 0%;
    font-size: 60px;
    font-family: SimHei, Microsoft YaHei, SimSun;
    color: #f23207;
}

.brief-introduction {
    position: relative;
    width: auto;
    height: auto;
    top: 0%;
    left: 0%;
    margin: 10% 0% 0% 0%;
}

.brief-introduction p {
    width: 80%;
    margin: 0% auto;
    font-size: 35px;
    font-family: SimHei, Microsoft YaHei, SimSun;
    color: #ff8800;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}

/* Pulse */
@-webkit-keyframes hvr-pulse {
    25% {
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
    }
    75% {
      -webkit-transform: scale(0.9);
      transform: scale(0.9);
    }
}
@keyframes hvr-pulse {
    25% {
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
    }
    75% {
      -webkit-transform: scale(0.9);
      transform: scale(0.9);
    }
}
.hvr-pulse {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-pulse:hover, .hvr-pulse:focus, .hvr-pulse:active {
    -webkit-animation-name: hvr-pulse;
    animation-name: hvr-pulse;
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

/* Underline From Right */
.hvr-underline-from-right {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
}
.hvr-underline-from-right:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 100%;
    right: 0;
    bottom: 0;
    background: #de8100;
    height: 4px;
    -webkit-transition-property: left;
    transition-property: left;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.hvr-underline-from-right:hover:before, .hvr-underline-from-right:focus:before, .hvr-underline-from-right:active:before {
    left: 0;
}

/* Underline From Left */
.hvr-underline-from-left {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
}
.hvr-underline-from-left:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 100%;
    bottom: 0;
    background: #de8100;
    height: 4px;
    -webkit-transition-property: right;
    transition-property: right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.hvr-underline-from-left:hover:before, .hvr-underline-from-left:focus:before, .hvr-underline-from-left:active:before {
    right: 0;
}
