@import url(./navbar.css);
@import url(./opening.css);
@import url(./introduction.css);
@import url(./products.css);

html, body {
  min-height: 100%;
  scroll-behavior: smooth;
  user-select: text;
}

html, body, ul, li {
  margin: 0;
  padding: 0;
}

::selection {
  background-color: pink;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 0px;
}

footer {
  display: block;
  padding: 80px 0;
  text-align: center;
  color: rgba(255, 255, 255, .6);
  background: rgba(0, 0, 0, .8);
}