body {
    min-height: 800px;
    width: 100%;
    margin: 0%;
    display: flex;
    flex-direction: column;
}

.navibar {
    position: fixed;
    top: 0%;
    width: 100%;
    height: 40px;
    background-color: rgba(0, 0, 0, 1);
    margin: 0px;
    z-index: 999;
    transition: all 1s ease-in-out;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.shortcut {
    margin: 0% 0% 0% 2%;
}

.shortcut img {
    height: 40px;
    width: 40px;
}

.joinus {
    margin: 0% 2% 0% 0%;
}

.joinus a {
    text-decoration: none;
    color: rgba(254, 144, 23);
    transition: all 0.5s ease-in-out;
}

.joinus a:hover {
    text-decoration: none;
    color: rgba(255, 255, 255);
}

.index {
    margin: 40px 0 0 0;
    background-image: url(../images/Sky.jpeg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.layer {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    transition: all 5s ease-in-out;
    z-index: 998;
}

.QK {
    display: flex;
    justify-content: flex-start;
    margin: 0% 10%;
}

.QK img {
    width: 216px;
    height: 150px;
}

.qkteam-logo {
    display: flex;
    justify-content: center;
}

.qkteam-logo img {
    width: 200px;
    height: 200px;
}

.Team {
    display: flex;
    justify-content: flex-end;
    margin: 0% 5%;
}

.Team img {
    width: 300px;
    height: 125px;
}

.brief-introduction {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    color: #000000;
    background-color: #ffffff;
    text-align: center;
}

.question {
    width: 100%;
    height: auto;
    padding: 10px 0%;
    margin: 0%;
    font-size: 40px;
    line-height: 1.1;
    font-weight: 600;
    background-color: rgba(254, 144, 23);
    color: #FFFFFF;
}

.question p {
    margin: 0%;
}

.answer {
    width: 100%;
    height: auto;
    padding: 50px 0%;
    margin: 0%;
    font-size: 25px;
    line-height: 1.1;
    background-color: #ffffff;
    color: #000000;
}

.answer p {
    margin: 0% 15%;
}

.products {
    height: auto;
    width: 100%;
    margin: 0%;
    text-align: center;
}

.products-title {
    width: 100%;
    height: auto;
    padding: 10px 0%;
    margin: 0%;
    font-size: 40px;
    line-height: 1.1;
    font-weight: 600;
    background-color: rgba(254, 144, 23);
    color: #FFFFFF;
}

.products-title p {
    margin: 0%;
}

.products-list {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    color: #000000;
    background-color: #ffffff;
    font-size: 20px;
}

.products-list img {
    width: 200px;
    height: 200px;
    border-radius: 32px;
    box-shadow:5px 2px 6px #000000;
}

.cdoj {
    display: flex;
    flex-direction: column;
    margin: 30px 10%;
}

.z-snake {
    display: flex;
    flex-direction: column;
    margin: 30px 10%;
}

.wdm {
    display: flex;
    flex-direction: column;
    margin: 30px 10%;
}

.mk{
    display: flex;
    flex-direction: column;
    margin: 30px 10%;
}

.ce {
    display: flex;
    flex-direction: column;
    margin: 30px 10%;
}

.footer {
    width: 100%;
    height: auto;
    color: #ffffff;
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.copyright {
    font-size: 15px;
}

@media screen and (max-width: 450px) {
    .QK {
        display: flex;
        justify-content: flex-start;
        margin: 0% 10%;
    }
    
    .QK img {
        width: 108px;
        height: 75px;
    }
    
    .qkteam-logo {
        display: flex;
        justify-content: center;
    }
    
    .qkteam-logo img {
        width: 100px;
        height: 100px;
    }
    
    .Team {
        display: flex;
        justify-content: flex-end;
        margin: 0% 5%;
    }
    
    .Team img {
        width: 150px;
        height: 62.5px;
    }

    .question {
        width: 100%;
        height: auto;
        padding: 10px 0%;
        margin: 0%;
        font-size: 20px;
        line-height: 1.1;
        font-weight: 600;
        background-color: rgba(254, 144, 23);
        color: #FFFFFF;
    }

    .products-title {
        width: 100%;
        height: auto;
        padding: 10px 0%;
        margin: 0%;
        font-size: 20px;
        line-height: 1.1;
        font-weight: 600;
        background-color: rgba(254, 144, 23);
        color: #FFFFFF;
    }

    .products-list img {
        width: 150px;
        height: 150px;
        border-radius: 24px;
        box-shadow:5px 2px 6px #000000;
    }

    .copyright {
        font-size: 10px;
    }

    .index {
        margin: 40px 0 0 0;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        background-image: url();
    }
}

@media screen and (min-width: 451px) and (max-width: 1000px) {
    .QK {
        display: flex;
        justify-content: flex-start;
        margin: 0% 10%;
    }
    
    .QK img {
        width: 216px;
        height: 150px;
    }
    
    .Team {
        display: flex;
        justify-content: flex-end;
        margin: 0% 5%;
    }
    
    .Team img {
        width: 300px;
        height: 125px;
    }
}

@media screen and (min-width: 1001px) {
    .QK {
        display: flex;
        justify-content: flex-start;
        margin: 0% 10%;
    }
    
    .QK img {
        width: 324px;
        height: 225px;
    }

    .qkteam-logo {
        display: flex;
        justify-content: center;
    }
    
    .qkteam-logo img {
        width: 300px;
        height: 300px;
    }

    .Team {
        display: flex;
        justify-content: flex-end;
        margin: 0% 5%;
    }
    
    .Team img {
        width: 450px;
        height: 187.5px;
    }
}