nav ul {
  display: flex;
  align-items: center;
}

nav#outernav ul {
  justify-content: space-around;
  color: rgba(255, 255, 255, .8);
  background: rgba(0, 0, 0, .7);
}

nav#outernav li {
  position: relative;
  transition: color .4s;
}

nav#outernav li:hover {
  color: #66ccff;
}

nav#outernav li:not(#outerlogo)::after {
  content: "";
  background: #66ccff;
  height: 2px;
  width: 0;
  position: absolute;
  left: 50%;
  bottom: -5px;
  transition: all .4s; 
}

nav#outernav li:not(#outerlogo):hover::after {
  width: 120%;
  left: -10%;
}

nav#innernav ul {
  padding: 5px 36px;
  justify-content: space-between;
  color: rgba(255, 255, 255, .7);
  background: rgba(0, 0, 0, .6);
}

nav#innernav li {
  display: flex;
  align-items: center;
}

nav#innernav #innerlogo {
  margin-right: 10px;
}

nav#innernav #innerwechat {
  margin-right: 30px;
  cursor: pointer;
}