html, body {
  min-height: 100%;
}

html, body, ul, li {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

footer {
  display: block;
  padding: 80px 0;
  text-align: center;
  color: rgba(255, 255, 255, .6);
  background: rgba(0, 0, 0, .8);
}