nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav#navbar-list ul {
  height: 60px;
  color: rgba(255, 255, 255, .8);
  background: rgba(0, 0, 0, .7);
}

nav#navbar-list li {
  position: relative;
  transition: color .4s;
}

nav#navbar-list li:hover {
  color: #66ccff;
}

nav#navbar-list li:not(#logo)::after {
  content: "";
  background: #66ccff;
  height: 2px;
  width: 0;
  position: absolute;
  left: 50%;
  bottom: -5px;
  transition: all .4s; 
}

nav#navbar-list li:not(#logo):hover::after {
  width: 120%;
  left: -10%;
}